In [59]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [60]:
df = pd.read_csv('C:/bank.csv', sep=';')
df.shape

(4521, 17)

In [61]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4 - education (categorical:
'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5 - default: has credit in default? (categorical: 'no','yes','unknown')
6 - housing: has housing loan? (categorical: 'no','yes','unknown')
7 - loan: has personal loan? (categorical: 'no','yes','unknown')
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: 'cellular','telephone') 
9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric) 
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric) 
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)b

입력 변수 :
# 은행 고객 데이터 :
1 세 (숫자)
2-직업 : 직업 유형 (범주 : '관리자', '블루 칼라', '기업가', '가정', '관리', '퇴직', '자영업', '서비스', '학생' , '기술자', '실직', '알 수 없음')
3-결혼 : 결혼 상태 (범주 : '이혼', '결혼', '단일', '알 수 없음', 참고 : '이혼'은 이혼 또는 사별을 의미 함)
4-교육 (범주 : 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 'professional.course', 'university.degree', 'unknown')
5-기본 : 기본적으로 크레딧이 있습니까? (범주 : 'no', 'yes', 'unknown')
6-주택 : 주택 대출이 있습니까? (범주 : 'no', 'yes', 'unknown')
7-대출 : 개인 대출이 있습니까? (범주 : 'no', 'yes', 'unknown')
현재 캠페인의 마지막 연락처와 관련된 # :
8-연락처 : 연락처 통신 유형 (범주 : '셀룰러', '전화')
9-월 : 연도의 마지막 연락 달 (범주 : 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10-day_of_week : 마지막 연락 요일 (범주 : 'mon', 'tue', 'wed', 'thu', 'fri')
11-기간 : 마지막 연락 기간 (초)입니다 (숫자). 중요 사항 :이 속성은 출력 대상에 큰 영향을줍니다 (예 : duration = 0이면 y = 'no'). 그러나 통화가 수행되기 전에 기간을 알 수 없습니다. 또한, 통화 종료 후 y는 분명히 알려져있다. 따라서이 입력은 벤치 마크 목적으로 만 포함되어야하며 실제 예측 모델을 갖고 자하는 경우 폐기해야합니다.
# 다른 속성들 :
12-캠페인 :이 캠페인 및이 고객에 대해 수행 된 컨택 수 (숫자, 마지막 컨택 포함)
13-pdays : 고객이 이전 캠페인에서 마지막으로 연락 한 후 경과 한 일 수 (숫자; 999는 고객이 이전에 연락하지 않았 음을 의미)
14-이전 :이 캠페인 및이 클라이언트에 대해 수행 된 컨택 수 (숫자)
15-poutcome : 이전 마케팅 캠페인의 결과 (범주 : '실패', '존재하지 않음', '성공')
# 사회적, 경제적 맥락 속성
16-emp.var.rate : 고용 변동률-분기 별 지표 (숫자)
17-cons.price.idx : 소비자 물가 지수-월별 지표 (숫자)
18-cons.conf.idx : 소비자 신뢰 지수-월별 지표 (숫자)
19-euribor3m : euribor 3 개월 요금-일별 지표 (숫자)
20-고용주 수 : 직원 수-분기 별 지표 (숫자)

In [66]:
df.isna().sum().sum()

0

In [68]:
df.y.unique(), df.marital.unique()

(array([0, 1], dtype=int64),
 array(['married', 'single', 'divorced'], dtype=object))

전처리 : 카테고리 > 수치 자연어 > 수치

In [71]:
df.y = df.y.map({'yes':1,'no':0}) # 카테로그가 딱 2개일 떄만 사용

In [72]:
df.dtypes #카테고리 확인

age            int64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day            int64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
y            float64
dtype: object

In [73]:
df = pd.get_dummies(df)
x = df.drop(columns='y')
y = df.y

In [76]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=3).fit(x,y)
model.score(x,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [41]:
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='tree.dot', class_names=['no', 'yes'],
        feature_names=x.columns, impurity=False, filled=True)
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin'
import graphviz #패키지 설치 anaconda prompt / pip install graphviz 
with open('tree.dot') as f:
    dot_graph = f.read()    
g = graphviz.Source(dot_graph)
display(g)

IndexError: list index out of range